.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: red;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
  font-size: 50px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Pokemon {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 500px;
  margin-right: 500px;
  background-color: rgb(253, 149, 52);
  border: 5px solid black;
  padding: 1px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
